<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
<h2>Add User</h2>
<form action="/add-user" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="roles">Roles:</label><br>
    <input type="checkbox" id="role_admin" name="roles" value="ROLE_ADMIN">
    <label for="role_admin">Admin</label><br>
    <input type="checkbox" id="role_user" name="roles" value="ROLE_USER">
    <label for="role_user">User</label><br><br>

    <button type="submit">Add User</button>
</form>
</body>
</html>
