<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4" th:text="#{home.index.headline} + ', ' + ${username} + '!'" th:if="${username}"></h1>
            <h1 class="mb-4" th:text="#{home.index.headline} + '!'" th:unless="${username}"></h1>
            <div th:unless="${isAuthenticated}">
                <p>Please, log in</p>
            </div>
            <div th:if="${authorities.contains('ROLE_ADMIN')}">
                <p>You have ADMIN privileges.</p>
                <div class="col-md-4 mb-5">
                    <div class="list-group">
                        <a th:href="@{/add-user}" class="list-group-item list-group-item-action">[[#{home.index.adduser}]]</a>
                    </div>
                </div>
            </div>

            <p>[(#{home.index.text})]</p>
            <div class="col-md-4 mb-5">
                <div class="list-group">
                    <a th:href="@{/note/list}" class="list-group-item list-group-item-action">[[#{note.list.headline}]]</a>
                </div>
            </div>
        </div>
    </body>
</html>
